/* GalleryJS (https://github.com/Imdsm/GalleryJS)
 * Adam K Dean (Imdsm)
 * 08/07/2013 16:32
 */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

.container { width: 800px; margin: 0 auto; padding: 20px; }

.header { text-align: center; margin: 20px 0; }
.header h1 { margin: 0; font-size: 350%; font-family: 'bebasregular'; color: #333; }
.header h2 { margin: 0; font-size: 150%; font-family: 'robotolight'; color: #333; }

.loading { width: 100%; padding: 50px 0; text-align: center; }
.loading p { font-size: 80%; color: #ccc; }

.items { margin: 0 auto; }
.items .item { width: 240px; }
.items .item.active { width: 100%; }
.items .item img { max-width: 100%; text-align: center; }
.items .item img:hover { cursor: pointer; }


/**** Isotope transitions ****/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/** disabling Isotope CSS3 transitions **/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Additional WebFonts ****/
@font-face {
  font-family: 'bebasregular';
  src: url('../fonts/BEBAS___-webfont.eot');
  src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BEBAS___-webfont.woff') format('woff'),
       url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;  
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
  }
  @font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  }
}